<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Lint_Wrapper.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    <userSettings>
        <Lint_Wrapper.Properties.Settings>
            <setting name="rulesFile" serializeAs="String">
                <value>E:\Development\spectral.yaml</value>
            </setting>
            <setting name="targetFile" serializeAs="String">
                <value>E:\Development\edsl_write.yaml</value>
            </setting>
        </Lint_Wrapper.Properties.Settings>
    </userSettings>
</configuration>